# Ignorar la configuración de Firebase
config.js

# Ignorar variables de entorno
.env

# Ignorar archivos del sistema
node_modules/
.DS_Store

#ignorar el readme de la configuración de firebase
README.md