/* Base logo styles */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }

.logo-dacity{
    width: 60px;
}
.logo-ujat{
    width: 100px;
}
.woman-silhouette{
    width: 80px;
    filter: brightness(0) invert(1);  /* Convierte la imagen a blanco */
}
.woman-silhouette img{
    width: 100%;

}
.logo-dev{
    width: 80px;

}
.logo{
    display: flex;
    gap:20px;
    align-items: center;
}

@media (max-width: 768px) {
    .logo-dacity{
        width: 60px;
    }
    .logodacity-ujat{
        width: 60px;
    
    }
    .woman-silhouette{
        width: 60px;
    }
    .woman-silhouette img{
        width: 100%;
    
    }
    .logo-dev{
        width: 60px;
    
    }
}
/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
